/********** GENERAL STYLES ********/
body {
  background-color: #fff8cc; 
  position: relative;
}

blockquote {
  font-size: 14px
}

.white-background {
  background-color: white;
}

h3 {
  margin-bottom: 15px;
}


/********** BUTTON & LINK STYLES ********/

a:link, a:active {
  text-decoration: underline;
  color: black;
}

.no-decoration {
  text-decoration: none !important;
}

.btn:focus, .btn:active:focus {
  outline: none;
}

.btn-link {
  text-decoration: underline;
  color: black;
}

/********** NAVIGATION STYLES ********/
.navbar {
  margin-bottom: 0px;
  background-color: #b39b00;
  border: 0px solid;
  min-height:28px !important;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff8cc;
}

.no-right-margin {
  margin-right: 0px;
}

.navbar-nav > li > a, .navbar-brand {
  padding-bottom:0 !important;
  height: 28px;
}

.anchor {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden;
}

.counter {
  color: #fff8cc
}

/********** JUMBOTRON STYLES ********/
.jumbotron {
  background-color: #b39b00;
  padding-top: 60px;
}

.white {
  color: #fff8cc;
}

h1 small {
  font-size: 26%;
  color: black;
}

h1 small span {
  margin-left: 2%;
}


/********** SECTION STYLES ********/
.section-box-about {
  background-color: white;
  padding: 2px 20px;
  margin: 0px 30px;
}

.section-box {
  background-color: white;
  padding: 2px 20px;
  margin: 30px;
}

.section-title {
  color: #b39b00;
}

.make-inline {
  display: inline;
}

.no-padding {
  padding: 0px
}

@media only screen and (min-width: 768px) {
  .no-left-margin {
    margin-left: 0px;
  }
}

.min-450 {
  min-height: 450px;
}


/********** IMAGE STYLES ********/
#moreLink {
  padding: 0px;
}

#mike-img {
  max-height: 200px;
  max-width: 300px
}

.fixed-height {
  height: 42px;
}

.logo {
  height: 40px !important;
}

/********** FOOTER STYLES ********/
footer {
  background-color: #b39b00;
  padding-left: 50px !important;
  padding-right: 50px !important
}

.margin-fix {
  margin-top: 20px;
  margin-bottom: 20px
}
