body {
  padding-top: 50px;
  margin-left: 0.5%;
}

a:link, a:visited, a:active {
  text-decoration: underline;
}

ul {
  padding-left: 0;
  margin-left: 2%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
